/app/build
/build

/.gradle

/local.properties
*.iml

/.idea/*
/.idea/codeStyles/*
/.idea/runConfigurations/*

!/.idea/runConfigurations
!/.idea/runConfigurations/debug_app.xml

!/.idea/codeStyles
!/.idea/codeStyles/codeStyleConfig.xml
